<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_recieve_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,44},{160,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,40}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>button_recieve_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,152},{110,28}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{110,28}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>button_share_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{160,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,40}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>button_share_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,116},{132,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{132,34}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>button_tryagain_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{160,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,40}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>button_tryagain_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,86},{134,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{134,28}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>game_over_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{394,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,379}}</string>
                <key>sourceSize</key>
                <string>{394,379}</string>
            </dict>
            <key>game_over_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,383},{394,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,379}}</string>
                <key>sourceSize</key>
                <string>{394,379}</string>
            </dict>
            <key>game_over_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{394,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,379}}</string>
                <key>sourceSize</key>
                <string>{394,379}</string>
            </dict>
            <key>game_over_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{394,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,379}}</string>
                <key>sourceSize</key>
                <string>{394,379}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_over_layer.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ed7dbcba87da8531020e38f68ddb795$</string>
            <key>textureFileName</key>
            <string>game_over_layer.png</string>
        </dict>
    </dict>
</plist>
