<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gun_la_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{325,108}}</string>
                <key>offset</key>
                <string>{16,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,83},{325,108}}</string>
                <key>sourceSize</key>
                <string>{579,400}</string>
            </dict>
            <key>gun_la_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{327,172}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,124},{327,172}}</string>
                <key>sourceSize</key>
                <string>{579,400}</string>
            </dict>
            <key>gun_la_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{355,232}}</string>
                <key>offset</key>
                <string>{14,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,168},{355,232}}</string>
                <key>sourceSize</key>
                <string>{579,400}</string>
            </dict>
            <key>gun_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{411,200}}</string>
                <key>offset</key>
                <string>{-84,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,150},{411,200}}</string>
                <key>sourceSize</key>
                <string>{579,400}</string>
            </dict>
            <key>gun_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{363,146}}</string>
                <key>offset</key>
                <string>{-54,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,105},{363,146}}</string>
                <key>sourceSize</key>
                <string>{579,400}</string>
            </dict>
            <key>gun_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{347,94}}</string>
                <key>offset</key>
                <string>{-21,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,68},{347,94}}</string>
                <key>sourceSize</key>
                <string>{579,400}</string>
            </dict>
            <key>gun_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{355,232}}</string>
                <key>offset</key>
                <string>{14,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,168},{355,232}}</string>
                <key>sourceSize</key>
                <string>{579,400}</string>
            </dict>
            <key>gun_mid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{327,172}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,124},{327,172}}</string>
                <key>sourceSize</key>
                <string>{579,400}</string>
            </dict>
            <key>gun_mid_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{325,108}}</string>
                <key>offset</key>
                <string>{16,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,83},{325,108}}</string>
                <key>sourceSize</key>
                <string>{579,400}</string>
            </dict>
            <key>gun_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,767},{308,166}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{308,166}}</string>
                <key>sourceSize</key>
                <string>{340,180}</string>
            </dict>
            <key>gun_right_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,200},{387,224}}</string>
                <key>offset</key>
                <string>{96,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,158},{387,224}}</string>
                <key>sourceSize</key>
                <string>{579,400}</string>
            </dict>
            <key>gun_right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,658},{349,158}}</string>
                <key>offset</key>
                <string>{71,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,122},{349,158}}</string>
                <key>sourceSize</key>
                <string>{579,400}</string>
            </dict>
            <key>gun_right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{339,104}}</string>
                <key>offset</key>
                <string>{45,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,74},{339,104}}</string>
                <key>sourceSize</key>
                <string>{579,400}</string>
            </dict>
            <key>rubber_la_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,974},{327,102}}</string>
                <key>offset</key>
                <string>{15,139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,10},{327,102}}</string>
                <key>sourceSize</key>
                <string>{579,400}</string>
            </dict>
            <key>rubber_la_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,935},{327,162}}</string>
                <key>offset</key>
                <string>{15,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,10},{327,162}}</string>
                <key>sourceSize</key>
                <string>{579,400}</string>
            </dict>
            <key>rubber_la_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,426},{355,230}}</string>
                <key>offset</key>
                <string>{14,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,1},{355,230}}</string>
                <key>sourceSize</key>
                <string>{579,400}</string>
            </dict>
            <key>rubber_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{395,196}}</string>
                <key>offset</key>
                <string>{-48,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,4},{395,196}}</string>
                <key>sourceSize</key>
                <string>{579,400}</string>
            </dict>
            <key>rubber_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{351,138}}</string>
                <key>offset</key>
                <string>{-32,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,3},{351,138}}</string>
                <key>sourceSize</key>
                <string>{579,400}</string>
            </dict>
            <key>rubber_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,426},{339,86}}</string>
                <key>offset</key>
                <string>{-11,152}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,5},{339,86}}</string>
                <key>sourceSize</key>
                <string>{579,400}</string>
            </dict>
            <key>rubber_mid_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,426},{355,230}}</string>
                <key>offset</key>
                <string>{14,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,1},{355,230}}</string>
                <key>sourceSize</key>
                <string>{579,400}</string>
            </dict>
            <key>rubber_mid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,935},{327,162}}</string>
                <key>offset</key>
                <string>{15,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,10},{327,162}}</string>
                <key>sourceSize</key>
                <string>{579,400}</string>
            </dict>
            <key>rubber_mid_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,974},{327,102}}</string>
                <key>offset</key>
                <string>{15,139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,10},{327,102}}</string>
                <key>sourceSize</key>
                <string>{579,400}</string>
            </dict>
            <key>rubber_right_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,331},{377,214}}</string>
                <key>offset</key>
                <string>{63,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,0},{377,214}}</string>
                <key>sourceSize</key>
                <string>{579,400}</string>
            </dict>
            <key>rubber_right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,818},{339,154}}</string>
                <key>offset</key>
                <string>{52,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,2},{339,154}}</string>
                <key>sourceSize</key>
                <string>{579,400}</string>
            </dict>
            <key>rubber_right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,928},{333,98}}</string>
                <key>offset</key>
                <string>{36,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,4},{333,98}}</string>
                <key>sourceSize</key>
                <string>{579,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shoot.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee1631a65aa472068bcab03b431c3664$</string>
            <key>textureFileName</key>
            <string>shoot.png</string>
        </dict>
    </dict>
</plist>
